/* Add this to your CSS file or a <style> tag */

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.marching {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.marching::before {
	content: "";
	background-image: conic-gradient(#5cc758 20deg, transparent 120deg);
	width: 150%;
	height: 150%;
	position: absolute;
	animation: rotate 2s linear infinite;
}

.marching::after {
	content: "";
	width: 97.5%;
	height: 97.5%;
	background: white;
	position: absolute;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
}

.marching > * {
	z-index: 1;
}
